.content-container { 
  position: relative;  
  overflow-x: visible;
  overflow-y: auto;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 500px;
  height: 148px;
  background-color: #fff;
}
.content.fixed {
  position: fixed;
  z-index: 999;
}


.media { 
  position: relative; 
  top: 24px;
  left: -100px; 
  background: #700721; 
  width: 600px;
}

.media-body { 
  margin-left: 100px;
  margin-bottom: 0;
  padding: 15px;
  width: 550px;
  height: 100px;
  background: #fff;
  font-size: 75%;
}
.media-body p { margin-bottom: 0; }

.media-heading { 
  text-transform: uppercase; 
  line-height: 0.75; 
  letter-spacing: 2px; 
  font-weight: 100;
}
.media-heading small { 
  text-transform: lowercase;
  font-size: 50%;  
  font-weight: 100; 
  letter-spacing: 1px;
}

.divider {
  height: 1px;
  margin: 1px 0 5px;
  overflow: hidden;
  background-color: #c9b7bc;
}

.nav { 
  padding-top: 8px;
  padding-left: 115px;
  background-color: #fff;
  font-size: 75%; 
}
.nav li { 
  width: 119px; 
  text-align: center;
}
.nav li a { 
  padding-top: 5px; 
  padding-bottom: 5px; 
  border-radius: 0; 
  background: #c9b7bc;
  color: #e5e5e5; 
  text-transform: uppercase; 
  font-size: 90%; 
  letter-spacing: 1px;
}
.nav li:hover a { 
  background-color: #700721; 
  color: #fff;
}