<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>{{ page.title }}</title>

		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/matthewghenry/css/bootstrap.min.css">
		<link rel="stylesheet" href="/matthewghenry/css/syntax.css">
		<link rel="stylesheet" href="/matthewghenry/css/main.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="content-container">
			<div class="content fixed">
				{{ content }}
			</div>
		</div>
			
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/matthewghenry/js/bootstrap.min.js"></script>
	</body>
</html>
